# Final Project Group 6
Group members:
- Niccolo Matteo Borgato
- Nicholas Dieke
- Austin Brees
- Sophie Schaesberg
- Adrian Marino

In [ ]:
import pandas as pd

In [4]:
players = pd.read_csv('players.csv')
players.head()

,player_id,name,current_club_id,current_club_name,country_of_citizenship,country_of_birth,city_of_birth,date_of_birth,position,sub_position,...,highest_market_value_in_eur,agent_name,contract_expiration_date,current_club_domestic_competition_id,first_name,last_name,player_code,image_url,last_season,url
0,134354,Ian Raeymaekers,498,Ksc Lokeren,Belgium,Belgium,Aalst,1995-01-30,Attack,Centre-Forward,...,50000.0,NaN,NaN,BE1,Ian,Raeymaekers,ian-raeymaekers,https://img.a.transfermarkt.technology/portrai...,2012,https://www.transfermarkt.co.uk/ian-raeymaeker...
1,99946,Mohamed Camara,1095,Es Troyes Ac,Guinea,Guinea,Conakry,1990-09-20,Attack,Centre-Forward,...,300000.0,NaN,NaN,FR1,Mohamed,Camara,mohamed-camara,https://img.a.transfermarkt.technology/portrai...,2012,https://www.transfermarkt.co.uk/mohamed-camara...
2,76948,Pablo Olivera,979,Moreirense Fc,Uruguay,Uruguay,Melo,1987-12-08,Attack,Centre-Forward,...,600000.0,NaN,NaN,PO1,Pablo,Olivera,pablo-olivera,https://img.a.transfermarkt.technology/portrai...,2012,https://www.transfermarkt.co.uk/pablo-olivera/...
3,108372,Aliosman Aydin,38,Fortuna Dusseldorf,Turkey,Germany,Dormagen,1992-02-06,Attack,Centre-Forward,...,125000.0,NaN,NaN,L1,Aliosman,Aydin,aliosman-aydin,https://img.a.transfermarkt.technology/portrai...,2012,https://www.transfermarkt.co.uk/aliosman-aydin...
4,78820,Jaime Alfonso Ruiz,354,Kv Mechelen,Colombia,Colombia,Cali,1984-01-03,Attack,Centre-Forward,...,1700000.0,NaN,NaN,BE1,Jaime Alfonso,Ruiz,jaime-alfonso-ruiz,https://img.a.transfermarkt.technology/portrai...,2012,https://www.transfermarkt.co.uk/jaime-alfonso-...

In [6]:
players.columns

Index(['player_id', 'name', 'current_club_id', 'current_club_name',
       'country_of_citizenship', 'country_of_birth', 'city_of_birth',
       'date_of_birth', 'position', 'sub_position', 'foot', 'height_in_cm',
       'market_value_in_eur', 'highest_market_value_in_eur', 'agent_name',
       'contract_expiration_date', 'current_club_domestic_competition_id',
       'first_name', 'last_name', 'player_code', 'image_url', 'last_season',
       'url'],
      dtype='object')

In [10]:
players = players.drop(columns=['name', 'current_club_name', 'city_of_birth', 'first_name', 'last_name', 'player_code', 'image_url', 'url'])
players.head(5)

,player_id,current_club_id,country_of_citizenship,country_of_birth,date_of_birth,position,sub_position,foot,height_in_cm,market_value_in_eur,highest_market_value_in_eur,agent_name,contract_expiration_date,current_club_domestic_competition_id,last_season
0,134354,498,Belgium,Belgium,1995-01-30,Attack,Centre-Forward,Right,0,NaN,50000.0,NaN,NaN,BE1,2012
1,99946,1095,Guinea,Guinea,1990-09-20,Attack,Centre-Forward,Right,180,NaN,300000.0,NaN,NaN,FR1,2012
2,76948,979,Uruguay,Uruguay,1987-12-08,Attack,Centre-Forward,Right,175,25000.0,600000.0,NaN,NaN,PO1,2012
3,108372,38,Turkey,Germany,1992-02-06,Attack,Centre-Forward,Right,178,NaN,125000.0,NaN,NaN,L1,2012
4,78820,354,Colombia,Colombia,1984-01-03,Attack,Centre-Forward,Right,184,NaN,1700000.0,NaN,NaN,BE1,2012

In [11]:
player_valuations = pd.read_csv('player_valuations.csv')
player_valuations.head()

,date,datetime,dateweek,player_id,current_club_id,market_value_in_eur,player_club_domestic_competition_id
0,2013-08-07,2013-08-07,2013-08-05,99946,1095,150000,FR1
1,2014-01-13,2014-01-13,2014-01-13,99946,1095,100000,FR1
2,2010-01-29,2010-01-29,2010-01-25,76948,979,125000,PO1
3,2010-08-20,2010-08-20,2010-08-16,76948,979,250000,PO1
4,2011-01-17,2011-01-17,2011-01-17,76948,979,350000,PO1

In [12]:
player_valuations = player_valuations.drop(columns=['date', 'dateweek', 'current_club_id', 'player_club_domestic_competition_id'])
player_valuations.head()

     datetime  player_id  market_value_in_eur
0  2013-08-07      99946               150000
1  2014-01-13      99946               100000
2  2010-01-29      76948               125000
3  2010-08-20      76948               250000
4  2011-01-17      76948               350000