# Final Project Group 6
Group members:
- Niccolo Matteo Borgato
- Nicholas Dieke
- Austin Brees
- Sophie Schaesberg
- Adrian Marino

In [508]:
import pandas as pd
from datetime import date

In [509]:
players = pd.read_csv('players.csv')
player_valuations = pd.read_csv('player_valuations.csv')
appearances = pd.read_csv('appearances.csv')
clubs = pd.read_csv('clubs.csv')

## Players

In [510]:
players.head()

,player_id,name,current_club_id,current_club_name,country_of_citizenship,country_of_birth,city_of_birth,date_of_birth,position,sub_position,...,highest_market_value_in_eur,agent_name,contract_expiration_date,current_club_domestic_competition_id,first_name,last_name,player_code,image_url,last_season,url
0,134354,Ian Raeymaekers,498,Ksc Lokeren,Belgium,Belgium,Aalst,1995-01-30,Attack,Centre-Forward,...,50000.0,NaN,NaN,BE1,Ian,Raeymaekers,ian-raeymaekers,https://img.a.transfermarkt.technology/portrai...,2012,https://www.transfermarkt.co.uk/ian-raeymaeker...
1,99946,Mohamed Camara,1095,Es Troyes Ac,Guinea,Guinea,Conakry,1990-09-20,Attack,Centre-Forward,...,300000.0,NaN,NaN,FR1,Mohamed,Camara,mohamed-camara,https://img.a.transfermarkt.technology/portrai...,2012,https://www.transfermarkt.co.uk/mohamed-camara...
2,76948,Pablo Olivera,979,Moreirense Fc,Uruguay,Uruguay,Melo,1987-12-08,Attack,Centre-Forward,...,600000.0,NaN,NaN,PO1,Pablo,Olivera,pablo-olivera,https://img.a.transfermarkt.technology/portrai...,2012,https://www.transfermarkt.co.uk/pablo-olivera/...
3,108372,Aliosman Aydin,38,Fortuna Dusseldorf,Turkey,Germany,Dormagen,1992-02-06,Attack,Centre-Forward,...,125000.0,NaN,NaN,L1,Aliosman,Aydin,aliosman-aydin,https://img.a.transfermarkt.technology/portrai...,2012,https://www.transfermarkt.co.uk/aliosman-aydin...
4,78820,Jaime Alfonso Ruiz,354,Kv Mechelen,Colombia,Colombia,Cali,1984-01-03,Attack,Centre-Forward,...,1700000.0,NaN,NaN,BE1,Jaime Alfonso,Ruiz,jaime-alfonso-ruiz,https://img.a.transfermarkt.technology/portrai...,2012,https://www.transfermarkt.co.uk/jaime-alfonso-...

In [511]:
players = players.drop(columns=['name', 'current_club_name', 'country_of_birth', 'market_value_in_eur', 'highest_market_value_in_eur', 'agent_name', 'city_of_birth', 'first_name', 'last_name', 'player_code', 'image_url', 'url'])
players.head(5)

,player_id,current_club_id,country_of_citizenship,date_of_birth,position,sub_position,foot,height_in_cm,contract_expiration_date,current_club_domestic_competition_id,last_season
0,134354,498,Belgium,1995-01-30,Attack,Centre-Forward,Right,0,NaN,BE1,2012
1,99946,1095,Guinea,1990-09-20,Attack,Centre-Forward,Right,180,NaN,FR1,2012
2,76948,979,Uruguay,1987-12-08,Attack,Centre-Forward,Right,175,NaN,PO1,2012
3,108372,38,Turkey,1992-02-06,Attack,Centre-Forward,Right,178,NaN,L1,2012
4,78820,354,Colombia,1984-01-03,Attack,Centre-Forward,Right,184,NaN,BE1,2012

Filling missing position values

In [512]:
players['sub_position'].fillna(players['position'], inplace=True)
players.drop('position', axis=1, inplace=True)

## Player Valuations

In [513]:
player_valuations.head()

,date,datetime,dateweek,player_id,current_club_id,market_value_in_eur,player_club_domestic_competition_id
0,2013-08-07,2013-08-07,2013-08-05,99946,1095,150000,FR1
1,2014-01-13,2014-01-13,2014-01-13,99946,1095,100000,FR1
2,2010-01-29,2010-01-29,2010-01-25,76948,979,125000,PO1
3,2010-08-20,2010-08-20,2010-08-16,76948,979,250000,PO1
4,2011-01-17,2011-01-17,2011-01-17,76948,979,350000,PO1

In [514]:
player_valuations = player_valuations.drop(columns=['date', 'dateweek', 'current_club_id', 'player_club_domestic_competition_id'])
player_valuations.head()

     datetime  player_id  market_value_in_eur
0  2013-08-07      99946               150000
1  2014-01-13      99946               100000
2  2010-01-29      76948               125000
3  2010-08-20      76948               250000
4  2011-01-17      76948               350000

In [515]:
player_valuations['datetime'] = pd.to_datetime(player_valuations['datetime'])
player_valuations['year'] = player_valuations['datetime'].dt.year
player_valuations = player_valuations.drop(columns=['datetime'])

player_mean_year_val = player_valuations.groupby(['player_id', 'year'])['market_value_in_eur'].mean().reset_index()
player_mean_year_val

        player_id  year  market_value_in_eur
0              10  2004         7.000000e+06
1              10  2005         1.200000e+07
2              10  2006         2.500000e+07
3              10  2007         2.300000e+07
4              10  2008         2.000000e+07
...           ...   ...                  ...
213168    1050249  2022         8.333333e+04
213169    1050852  2022         5.000000e+04
213170    1052404  2022         5.000000e+04
213171    1056907  2022         1.000000e+05
213172    1059630  2022         1.000000e+05

[213173 rows x 3 columns]

## Appearances

In [516]:
appearances.head(5)

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
0,2483937_52453,2483937,52453,28095,28095,2014-08-08,Haris Handzic,RU1,0,0,0,0,90
1,2479929_67064,2479929,67064,28095,4128,2014-08-03,Felicio Brown Forbes,RU1,0,0,0,0,90
2,2483937_67064,2483937,67064,28095,4128,2014-08-08,Felicio Brown Forbes,RU1,0,0,0,0,90
3,2484582_67064,2484582,67064,28095,4128,2014-08-13,Felicio Brown Forbes,RU1,0,0,0,0,55
4,2485965_67064,2485965,67064,28095,4128,2014-08-16,Felicio Brown Forbes,RU1,0,0,0,0,90

In [517]:
appearances.columns

Index(['appearance_id', 'game_id', 'player_id', 'player_club_id',
       'player_current_club_id', 'date', 'player_name', 'competition_id',
       'yellow_cards', 'red_cards', 'goals', 'assists', 'minutes_played'],
      dtype='object')

In [518]:
appearances = appearances.drop(columns=['player_name', 'player_current_club_id', 'appearance_id'])
appearances.head(3)

,game_id,player_id,player_club_id,date,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
0,2483937,52453,28095,2014-08-08,RU1,0,0,0,0,90
1,2479929,67064,28095,2014-08-03,RU1,0,0,0,0,90
2,2483937,67064,28095,2014-08-08,RU1,0,0,0,0,90

In [519]:
appearances.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1151986 entries, 0 to 1151985
Data columns (total 10 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   game_id         1151986 non-null  int64
 1   player_id       1151986 non-null  int64
 2   player_club_id  1151986 non-null  int64
 3   date            1140047 non-null  object
 4   competition_id  1151986 non-null  object
 5   yellow_cards    1151986 non-null  int64
 6   red_cards       1151986 non-null  int64
 7   goals           1151986 non-null  int64
 8   assists         1151986 non-null  int64
 9   minutes_played  1151986 non-null  int64
dtypes: int64(8), object(2)
memory usage: 87.9+ MB

In [520]:
appearances['date'] = pd.to_datetime(appearances['date'])
appearances['year'] = appearances['date'].dt.year

In [521]:
# Grouped stats by player
players_stats_df = appearances.drop(columns=["game_id", "player_club_id"]).groupby(["player_id", "year"]).sum()
players_stats_df = players_stats_df.reset_index()
players_stats_df.head(5)

   player_id    year  yellow_cards  red_cards  goals  assists  minutes_played
0         10  2014.0             2          0      4        3             496
1         10  2015.0             6          0     12        8            2429
2         10  2016.0             1          0      8        5            1078
3         26  2014.0             0          0      0        0            1530
4         26  2015.0             0          0      0        0            2160

## Clubs

In [522]:
clubs = clubs.drop(columns=['club_code', 'name', 'domestic_competition_id', 'total_market_value', 'squad_size', 'average_age', 'foreigners_number', 'net_transfer_record', 'foreigners_percentage', 'stadium_name', 'coach_name', 'url'])

## Merging Datasets

In [523]:
players = players.merge(players_stats_df, on="player_id", how='inner')
players.head(5)

,player_id,current_club_id,country_of_citizenship,date_of_birth,sub_position,foot,height_in_cm,contract_expiration_date,current_club_domestic_competition_id,last_season,year,yellow_cards,red_cards,goals,assists,minutes_played
0,212852,621,Spain,1995-02-15,Right-Back,Right,178,2023-06-30,ES1,2012,2016.0,0,0,0,0,360
1,79933,1075,Portugal,1989-09-24,Centre-Back,Right,187,NaN,PO1,2012,2014.0,2,0,0,0,1530
2,79933,1075,Portugal,1989-09-24,Centre-Back,Right,187,NaN,PO1,2012,2015.0,2,0,0,0,1055
3,13972,1436,Portugal,1980-04-13,Centre-Back,Right,184,NaN,PO1,2012,2015.0,3,0,0,0,1592
4,13972,1436,Portugal,1980-04-13,Centre-Back,Right,184,NaN,PO1,2012,2016.0,0,0,1,0,226

In [524]:
players = players.merge(player_mean_year_val, on=['player_id', 'year'], how='inner')
players.head(5)

,player_id,current_club_id,country_of_citizenship,date_of_birth,sub_position,foot,height_in_cm,contract_expiration_date,current_club_domestic_competition_id,last_season,year,yellow_cards,red_cards,goals,assists,minutes_played,market_value_in_eur
0,212852,621,Spain,1995-02-15,Right-Back,Right,178,2023-06-30,ES1,2012,2016.0,0,0,0,0,360,433333.333333
1,79933,1075,Portugal,1989-09-24,Centre-Back,Right,187,NaN,PO1,2012,2015.0,2,0,0,0,1055,1000000.000000
2,13972,1436,Portugal,1980-04-13,Centre-Back,Right,184,NaN,PO1,2012,2015.0,3,0,0,0,1592,250000.000000
3,13972,1436,Portugal,1980-04-13,Centre-Back,Right,184,NaN,PO1,2012,2016.0,0,0,1,0,226,200000.000000
4,14511,294,Portugal,1982-04-29,Attacking Midfield,Both,172,NaN,PO1,2012,2015.0,9,0,4,8,2225,800000.000000

Adding Age Feature and dropping DOB

In [525]:
def calculate_age(dob, year):
    return year - dob.year

players['date_of_birth'] = pd.to_datetime(players['date_of_birth'])
# drop players with no date of birth (2 records only)
players = players[players['date_of_birth'].isnull() == False]
today = date.today()
players['age'] = players.apply(lambda x: calculate_age(x.date_of_birth, x.year), axis=1)

players = players.drop(columns=['date_of_birth'])

In [526]:
players = pd.merge(players, clubs, left_on=['current_club_id'], right_on=['club_id'], how='inner')
players = players.drop(columns=['current_club_id'])

### Dealing with null valuess

In [527]:
players = players[players['contract_expiration_date'].isnull() == False]

In [528]:
players['foot'] = players['foot'].fillna('Right')

In [529]:
players = players.sort_values(by=['player_id', 'year'])
players.head(5)

,player_id,country_of_citizenship,sub_position,foot,height_in_cm,contract_expiration_date,current_club_domestic_competition_id,last_season,year,yellow_cards,red_cards,goals,assists,minutes_played,market_value_in_eur,age,club_id,national_team_players,stadium_seats
24236,215,Paraguay,Centre-Forward,Right,193,2023-12-31,ES1,2015,2014.0,0,0,5,1,985,2250000.0,33.0,1084,0,30044
24237,215,Paraguay,Centre-Forward,Right,193,2023-12-31,ES1,2015,2015.0,0,0,1,0,221,1250000.0,34.0,1084,0,30044
24238,215,Paraguay,Centre-Forward,Right,193,2023-12-31,ES1,2015,2016.0,0,0,2,0,378,750000.0,35.0,1084,0,30044
54332,2138,Montenegro,Defensive Midfield,Right,178,2023-06-30,RU1,2017,2014.0,5,0,1,0,1470,500000.0,31.0,40426,0,20985
54333,2138,Montenegro,Defensive Midfield,Right,178,2023-06-30,RU1,2017,2015.0,7,0,0,0,1110,450000.0,32.0,40426,0,20985

In [530]:
players.isna().sum()

player_id                               0
country_of_citizenship                  0
sub_position                            0
foot                                    0
height_in_cm                            0
contract_expiration_date                0
current_club_domestic_competition_id    0
last_season                             0
year                                    0
yellow_cards                            0
red_cards                               0
goals                                   0
assists                                 0
minutes_played                          0
market_value_in_eur                     0
age                                     0
club_id                                 0
national_team_players                   0
stadium_seats                           0
dtype: int64